.button {
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &.primary-button {
            background-color: rgb(87, 9, 9);
            color: rgb(250, 248, 248);
            font-weight: 500;
        }

    &:active{
        transform:scale(1.1) ;
    }
}

