*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body,:root{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(19, 18, 18);
    color: whitesmoke;
}

.highlight{
    color: rgb(255, 0, 98);
}